/* CarList.css */

/* Add your custom styles here */

h2 {
   color: #007bff;
 }
 
 div {
   margin-bottom: 20px;
   padding: 15px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
 }
 
 h3 {
   color: #333;
 }
 
 p {
   color: #555;
   margin-top: 5px;
 }
 
 /* You can add more styles as needed */
 