// Admin.css
.admin-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 1rem;
}

.dashboard,
.statistics {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #f9c74f;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.dashboard:hover,
.statistics:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

h2 {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

h2 svg {
  margin-right: 0.5rem;
}

p {
  margin: 0.25rem 0;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.dashboard-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

h3 {
  margin: 0.5rem 0;
}

a {
  display: inline-block;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

a:hover {
  background-color: #444;
}

.statistics-charts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.statistics-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.statistics-chart:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}
