/* Footer.css */
footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  margin-top: 50px; /* Add a margin-top equal to the header height */
  font-family: 'Roboto', sans-serif; /* Change the font family to Roboto */
}

.footer-container {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Align the socials and contact divs to the opposite sides */
  max-width: 1200px; /* Set a max-width for the container */
  margin: 0 auto; /* Center the container */
}

.footer-logo,
.footer-socials,
.footer-contact,
.footer-image {
  padding: 0.5rem; /* Add some padding to each component */
}



.footer-socials h3,
.footer-contact h3 {
  margin: 0 0 0.5rem 0; /* Add some margin to the headings */
}

.footer-socials ul {
  list-style: none; /* Remove the list style */
  padding: 0; /* Remove the padding */
  margin: 0; /* Remove the margin */
}

.footer-socials li {
  margin: 0.25rem 0; /* Add some margin to the list items */
}

.footer-socials a {
  color: #fff; /* Set the link color to white */
  text-decoration: none; /* Remove the link decoration */
  transition: color 0.3s ease-in-out; /* Add a transition effect to the link color */
}

.footer-socials a:hover {
  color: #f9c74f; /* Change the link color to yellow on hover */
}

.footer-socials ul {
  display: flex; /* Use flexbox to align the icons horizontally */
  justify-content: space-between; /* Add some space between the icons */
}

.footer-contact p {
  margin: 0.25rem 0; /* Add some margin to the paragraphs */
}



.footer-bottom {
  margin-top: 1rem; /* Add some margin to the bottom section */
}

@media screen and (max-width: 1024px) { /* Use a media query to make the layout responsive */
  .footer-container {
    grid-template-columns: repeat(2, 1fr); /* Change the grid layout to two columns */
  }
}

@media screen and (max-width: 768px) { /* Use another media query to make the layout more responsive */
  .footer-container {
    grid-template-columns: 1fr; /* Change the grid layout to one column */
  }
}
