/* Header.css */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  display: flex; /* Use flexbox layout */
  flex-direction: row-reverse; /* Reverse the order of the flex items */
  justify-content: space-between; /* Align the flex items to the opposite sides */
  font-family: 'Roboto', sans-serif; /* Change the font family to Roboto */
}

header.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container img {
  width: 100px;
  height: 100px;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  nav {
    margin-top: 0.5rem;
  }
}

a {
  margin: 0 1rem;
  color: #fff; /* Change the link color to white */
  text-decoration: none; /* Remove the link decoration */
  transition: color 0.3s ease-in-out; /* Add a transition effect to the link color */
}

a:hover {
  color: #f9c74f; /* Change the link color to yellow on hover */
}

@media (max-width: 768px) {
  a {
    margin: 0.5rem;
  }
}

.fa-car {
  margin-right: 0.5rem; /* Add some margin to the car icon */
}

.active {
  color: #f9c74f; /* Change the link color to yellow when active */
}

